* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo-image {
    width: 2rem;
    height: 2rem;
    margin: 0 1.2rem 0 5rem;
    border: 1px solid white;
}

.nav-bar {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(238, 98, 79);
    color: white;
}

.title {
    font-size: 2rem;
    font-style: italic;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

.input-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 5rem;
    margin: 2rem 3rem 3rem 10rem;
}

.text {
    background-color: lightgray;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 50vw;
    height: 5.8vh;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
}

.para-text {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    animation: move 20s linear infinite;
}

@keyframes move {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: teal;
}

.height-section,
.weight-section,
.age-section {
    display: flex;
    flex-direction: column;
}

.gender-section {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
}

.activity-section {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

label {
    margin-bottom: 0.7rem;
    font-weight: 500;
}

input {
    width: 15vw;
    height: 5vh;
    font-size: 0.95rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: lightgray;
    border: none;
}

span {
    color: red;
}

#gender,
#activity {
    width: 12vw;
    height: 5vh;
    font-size: 0.95rem;
    padding: 0.1rem;
    border-radius: 0.3rem;
    background-color: lightgray;
    border: none;
    color: teal;
}

#activity {
    width: 27vw;
}

.btn-container {
    margin-top: 0;
}

.btn {
    width: 12rem;
    height: 2.5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: rgb(238, 98, 79);
    color: white;
    border: none;
}

.btn:hover {
    background-color: red;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background-color: rgb(240, 115, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 0.5rem;
    font-size: 1.1rem;
}

.footer-image {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-list {
    display: flex;
}

li {
    list-style-type: none;
    margin: 0.5rem 2rem 0.5rem 2rem;
}

@media only screen and (max-width: 800px) {
    .input-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

    .gender-section,
    .activity-section {
        margin-left: 0rem;
    }

    input {
        width: 50vw;
    }

    #gender {
        width: 50vw;
    }

    #activity {
        width: 50vw;
    }

}